* {
    font-family: 'Montserrat', sans-serif;
}
#clients {
    padding: 60px 0;
}
#clients .container {
    margin: 0 10%;
    padding:0 15px;
}
#clients .container > h3 {
    margin:0 0 20px;
    font-size: 36px;
    color: #413e66;
    font-weight: 900;
    text-align: center;
}
#clients .container img {
    padding: 15px 0;
    width:15%;
    height:120px;
}
#clients .container-dots {
    margin:5px 0 0;
}
#clients .dots-wrapper {
    margin:0 45%;
}
#clients .dot {
    width:12px;
    height: 12px;
    background-color: #DDDDDD;
    border-radius: 100%;
    float:left;
    margin:0 5px;
}
#clients .dot:first-child {
    background-color: #1bb1dc;
}